.popup_window
{
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup_window:hover
{
    cursor: pointer;
}

.close_button
{
    color: black;
    float: right;
    font-size: 60px;
    margin-top: -33px;
    margin-right: -35px;
}

.close_button:hover, .close_button:focus
{
    cursor: pointer;
}